.breadcrumbs {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}

.separator {
  margin: 0 10px;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.current-page {
  font-weight: bold;
}
